 @import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
 

 .contenedor{
   margin: 10px 10px 10px 10px;
   padding: 8px;
   font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

   }
.noticia{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(117, 158, 117);
    padding: 8px;

 }


 #contenido{
  font-family: monospace; color: rgba(119, 109, 109, 0.766);
  padding: 20px;
  margin: 8px;
 }
 #contenido2{
    font-family: monospace;
    color: rgba(119, 109, 109, 0.766);
    padding: 20px;
  margin: 8px;
 }
 #contenido3{
    font-family:monospace;
 color: rgba(119, 109, 109, 0.766);
 padding: 20px;
  margin: 8px;
}

slide{
   height: 20px;
   width: 30px;
   padding: 20px;
   
}